<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @issue.organization_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @issue.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @issue.url %>
</p>

<p>
  <strong>Issue:</strong>
  <%= @issue.issue_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue.status %>
</p>

<p>
  <strong>Level:</strong>
  <%= @issue.level %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
